

nav{
    margin: 5vh 0;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.btnsContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navBtns{
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.navBtns:hover{
    transition: all 0.25s ease;
    cursor: pointer;
    transform: scale(1.05);
    color: rosybrown;
}

.homeLink{
  text-decoration: none;
  color: black;
}

@keyframes bounce-right {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
}

@keyframes service {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(35deg);
    }
}

.logo:hover{
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    animation: service 1s ease-in-out;
}

.cart:hover{
    cursor: pointer;
    animation: bounce-right 0.75s ease-in-out;
}